---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>五月天</b>，中国台湾流行摇滚乐团，成立于<b>1997年3月29日</b>，由温尚翊（怪兽）、陈信宏（阿信）、石锦航（石头）、蔡升晏（玛莎）、刘谚明（冠佑）五名成员组成。1998年，<b>签约滚石唱片</b>。1999年，发行乐团<b>首张音乐专辑《第一张创作专辑》</b>。
    </p>
    <p>
	<b>Mayday</b> is a Taiwanese pop rock band founded on <b>March 29, 1997</b>. It consists of five members: Wen Shangyi (Monster), Chen Xinhong (Ashin), Shi Jinhang (Stone), Cai Shengyan (Masha), and Liu Yanming (Guanyou). In 1998, they signed with Rolling Stone Records. In 1999, they released their <b>first music album, "The First Original Album"</b>.
    </p>
</div>

<section>
    <h2>Baidu Tieba </h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
